/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  background-position: top center; 
  background-attachment: scroll; 
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  height: 5px;
  background-color: rgba(132,255,92, 1);
  transition: .25s all;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header:hover {
  height: 50px;
  background-color: rgba(132,255,92, .3);
}

header h2 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 32px;
  margin-left: 20px;
  padding: 0;
  opacity: 0;
  transition: .25s all;
}

header .category-picker {
  display: flex;
  list-style: none;
  opacity: 0;
  transition: .25s opacity ease-in;
  margin-right: 20px;
}

header:hover h2,
header:hover .category-picker {
  opacity: 1;
  user-select: none;
  cursor: default;
}

.category-picker li {
  margin: 0px 5px;
}

.category-picker a {
  text-decoration: none;
  color: black;
  padding: 3px 6px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: rgba(132,255,92, 1);
}

main {
  padding: 23px 15px 0px 15px;
  height: calc(100vh - 63px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 41px;
  display: flex;
  flex-wrap: wrap;
}

.single {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
}

.single p {
  color: black;
  text-shadow: 0 0px 0px black, 1px 0 2px black, 0 -3px 2px black, -1px 0 2px black;
}

.single .bottom {
  display: flex;
  justify-content: space-between;
}

.single .bottom p {
  font-size: 24px;
  font-family: "Dosis", sans-serif;
  text-shadow: 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black, -1px 0 1px black;
}

.single .buttons {
  display: flex;
  align-items: center;
}

.confession .buttons a,
.confession .buttons .button {
  font-size: 30px;
  font-family: "Dosis", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 5px 10px;
  padding: 0;
  text-shadow: 0 1px 1px rgba(132,255,92, 1), 1px 0 1px rgba(132,255,92, 1), 0 -1px 1px rgba(132,255,92, 1), -1px 0 1px rgba(132,255,92, 1);
  transition: .1s all;
}

.confession .buttons a:hover,
.confession .buttons .button:hover {
  color: rgba(132,255,92, 1);
  text-shadow: 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black, -1px 0 1px black;
}

.confession p, .confession a {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  line-height: 45px;
  margin: 0;
}

.confession a {
  text-decoration: none;
  color: inherit;
}

.confession .General {
  /* color: #CDDE69; */
  color: goldenrod;
  text-shadow: 0 0px 0px goldenrod, 1px 0 2px goldenrod, 0 -3px 2px goldenrod, -1px 0 2px goldenrod;
}

.confession .Dark {
  color: #5A70DE;
  text-shadow: 0 0px 0px #5A70DE, 1px 0 1px #5A70DE, 0 -3px 2px #5A70DE, -1px 0 1px #5A70DE;
}

.confession .Heartwarming {
  color: #73C4F5;
  text-shadow: 0 0px 0px #73C4F5, 1px 0 3px #73C4F5, 0 -3px 3px #73C4F5, -1px 0 3px #73C4F5;
}

.confession .Gross {
  color: #A8CA9D;
  text-shadow: 0 0px 0px #A8CA9D, 1px 0 3px #A8CA9D, 0 -3px 3px #A8CA9D, -1px 0 3px #A8CA9D;
}

.confession .Steamy {
  color: #F5816B;
  text-shadow: 0 0px 0px #F5816B, 1px 0 3px #F5816B, 0 -3px 3px #F5816B, -1px 0 3px #F5816B;
}

.edit-confession {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 30px;
  width: 100vw;
}

.edit-confession form {
  width: 100%;
  display: flex;
}

.post-confession {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  padding: 5px;
  background-color: rgba(132,255,92, 1);
}

.post-confession form {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Dosis', sans-serif;
}

.post-confession input[type='text'],
.post-confession input[type='submit'],
.post-confession select,
.edit-confession input[type='text'],
.edit-confession input[type='submit'],
.edit-confession select {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  border: transparent;
}

.post-confession input[type='text'] {
  flex-grow: 1;
  background-color: transparent;
  border-bottom: 2px solid black;
  outline: none;
}

.post-confession select {
  margin: 0px 5px;
}

/* .post-confession input[type='submit'] {
  background-color: black;
  color: rgba(132,255,92, 1);
} */

.edit-confession input[type='text'] {
  background-color: lightgray;
  flex-grow: 1;
}
